$channel = ['#channel']
$server = 'irc.server.net'
$nick = 'Nick'
$nspass = 'password'
$tvdbapikey = 'tvdbapi'
$googleapikey = 'googleapi'
$rtapikey = 'rottentomatoesapi'
$traktapikey = 'traktapi'
$admin = 'nick'
